.hero.row {
    flex-direction: column;
    align-items: unset;
}


.hero__left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hero__title {
    font-size: var(--size-4xl);
    line-height: 1;
    font-weight: 400;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-xs);
    line-height: 1.1;
}

.hero__btn {
    color: var(--clr-light);
    font-weight: 600;
    font-size: var(--size-xs);
}

.hero__btn:first-child {
    background-color: var(--clr-green);
    padding: .6rem 2rem;
    border-radius: 30px;
}

.hero__btn:last-child {
    padding: .6rem 2rem;
    border-radius: 30px;
    color: var(--clr-dark);
}

.hero__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}


.hero__right > div{

    border: 1px solid var(--clr-rose);
}

.hero__right > div:first-child{
   grid-column:  1 /span 2;
}


/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {

    .hero.row {
        flex-direction: row;
       
    }

    .hero__left {
        flex: 1;
    }

    .hero__right {
        flex: 1;
    }





.hero__title {
    font-size: var(--size-5xl);
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.05em;
}

.hero__description {
    max-width: 60ch;
    font-size: var(--size-xs);
    line-height: 1.1;
}

.hero__btn {
    color: var(--clr-light);
    font-weight: 600;
    font-size: var(--size-xs);
}

.hero__btn:first-child {
    background-color: var(--clr-green);
    padding: .6rem 2rem;
    border-radius: 30px;
}

.hero__btn:last-child {
    padding: .6rem 2rem;
    border-radius: 30px;
    color: var(--clr-dark);
}
   
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

