:root {
    --clr-primary: rgb(250, 88, 88);
}

* {
    margin: 0;
    line-height: calc(1em + .5rem);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}


html {
    scroll-behavior: smooth;
}


.container {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

body {
    color: rgb(7, 7, 7);
    background-color: rgb(255, 255, 255);
}


a {
    color: rgb(250, 88, 88);
    font-weight: 500;
    font-size: .9rem;
}

a:hover {
    color: rgb(165, 42, 42, .4);
    transition: all 400ms;
}

img {
    width: 100%;
}



.btn {
    background-color: rgb(250, 88, 88);
    padding: .6rem 2rem;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: .8rem;
    box-shadow: 0 10px 10px rgb(224, 164, 164);
    display: inline-block;
}

.btn:hover {
    box-shadow: none;
    color: white;
}


.section {
   margin-top: 5rem;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links {
    display: flex;
    gap: 2em;
    padding: 0;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}



.hero > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
 

}

.hero__title {
    font-size: 4rem;
    line-height: .9;
    letter-spacing: -.05;
    text-transform: uppercase;
}

.hero__description {
    max-width: 60%;
}


.category {
    position: relative;
}

.category__title {
    position: relative;
    color: var(--clr-primary);
    font-size: .8rem;
    margin-left: 80px;
}


.category__title::before {
    content: '';
    width: 40px;
    height: 2px;
    background: var(--clr-primary);
    position: absolute;
    left: -80px;
    bottom: 10px;
}

.category__subtitle {
    font-weight: 600;
    font-size: 1.8rem;
}


.categories {
    display: flex;
    align-items: center;
    gap: 1rem;
}



.categories.section {
    margin-top: 3rem;
    
}



.category-item {
    height: 200px;
    width: 400px;
    background-color: brown;
    border-radius: 10px;
}

.category-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.category-item h3 {
    font-size: .9rem;
    color: var(--clr-primary);
    cursor: pointer;
}

.category__btn {
    position: absolute;
    right: 0;
    bottom: -6em;
}



.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
   
}



.grid-item {
    height: 400px;
    background-color: rgb(85, 58, 58);

}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-title {
    font-size: .9rem;
    color: var(--clr-primary);

}

.about__title {
    font-size: 1.8rem;
}

.about {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.about > div:first-child img {
    border-radius: 2rem;
}

.about > div:last-child {
   min-width:  40%;
}

.about__subtitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--clr-primary);
}

.about__description {
    line-height: 1.1;
}



.featured__books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.featured__title {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


footer {
    height: 80vh;
    background-color: rgb(5, 5, 12);
}